:root{
    --cor1: #647C90;
    --cor2: #E2DED0;
    --cor3: #4E4F50;
    --cor4: #746C70;
    --cor5: #738580;
    --cor6: #00eeff;
    --cor7: #23242eda;
  }

h1{
    padding-top: 40px;
}

h2 span{
    color: var(--cor6);
    font-size: 1.2em;
}