:root{
    --cor1: #647C90;
    --cor2: #E2DED0;
    --cor3: #4E4F50;
    --cor4: #746C70;
    --cor5: #738580;
    --cor6: #00eeff;
    --cor7: #23242eda;
  }

.game h1{
    font-size: 2.5em;
    text-shadow: 2px 3px 2px var(--cor3);
}

.points span {
    font-weight: bold;
}

.tip span{
    color: #00eeff
}

.wordContainer{
    margin: 1.5em;
    padding: 1.5em ;
    border: 20px solid var(--cor6);
    display: flex;
}

.letter, .blankSquare{
    font-size: 70px;
    line-height: 1.5;
    border: 3px solid #23242eda;
    height: 100px;
    width: 100px;
    text-transform: uppercase;
    background-color: var(--cor2);
    color: var(--cor1);
    font-weight: bold;
}

.letterContainer{
    margin-bottom: 1.2em;
}

.letterContainer form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.letterContainer input{
    height: 50px;
    width: 50px;
    font: 2em;
    text-align: center;
    margin-right: 1em;
    border: 2px solid var(--cor7);
}

span{
    color: var(--cor6);
    font-weight: bold;
}