:root{
    --cor1: #647C90;
    --cor2: #E2DED0;
    --cor3: #4E4F50;
    --cor4: #746C70;
    --cor5: #738580;
  }

.start h1{
    font-size: 3.5em;
    padding-top: 50px;
}

.start p{
    margin-bottom: 2em;
    color:var(--cor2);
    text-shadow: 1px 1px 1px #746C70;
}