p{
    color: rgb(109, 252, 109);
    background-color: rgba(0, 0, 0, 0.384);
    text-shadow: black 1px 1px 3px;
}

.my-comp-paragraph{color: rgb(255, 230, 0);
    background-color: rgba(0, 0, 0, 0.384);
    text-shadow: black 1px 1px 3px;}