body{
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.car-conteiner{
  display: flex;
  justify-content: center;
 
 
}

.car-conteiner div{
  margin-top: 20px;
  
}
